@import "tailwindcss";

.sour-gummy {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

@layer base {
  :root {
    --color-text: #996515;
    --color-bg: #c8ae7e;
    --landing-color: #996515;
  }
}

@import "tailwindcss";



/* 

Gawa ni Richelle

.header {
    @apply fixed top-0 left-0 w-full flex items-center justify-between pb-4 md:pb-5 mb-3 shadow-sm shadow-black z-30 bg-[#C8AE7E] bg-80;
}

.nav{
    @apply pr-4 sm:pr-6 md:pr-8 lg:pr-10 pt-4 md:pt-5 relative,

}

.div-paragraph {
    @apply bg-white shadow-sm shadow-black p-4 rounded-xl;
}

.h1{
    @apply h1 class="bg-[#C8AE7E] shadow-sm shadow-black text-center py-3 px-5 rounded-xl text-[#996515] text-2xl sm:text-3xl lg:text-4xl font-bold;

}

.sec {
    @apply bg-white shadow-sm shadow-black z-30 text-center p-2.5 ml-1 mr-1 mt-3 rounded-xl text-[#996515];
}

.pclass {
    @apply text-2xl sm:text-2xl md:text-2xl lg:text-3xl mt-5 text-justify text-[#996515] indent-8;
}

.img{
    @apply rounded-xl shadow-xl w-150 h-auto

}

.footer {
    @apply flex-justify-center items-center gap-6 sm:gap-8 md:gap-10;
    @apply w-8 h-8 sm:w-9 sm:h-9 md:w-10 md:h-10 lg:w-11 lg:h-11 transform transition duration-300 hover:scale-125 hover:opacity-80;
}

.divfoot {
    @apply text-center mt-4 text-gray-900 font-semibold tracking-wide;
}

Gawa ni Richelle

*/

.index-card {
  @apply block bg-white p-6 sm:p-8 rounded-xl border border-[#996515] hover:shadow-2xl hover:-translate-y-2 transform transition;
}

.index-main {
  @apply max-w-6xl mx-auto px-4 sm:px-6 md:px-10 lg:px-16 py-10 grid grid-cols-1 md:grid-cols-2 gap-8 lg:gap-10;
}

.index-button {
  @apply mt-8 inline-block bg-white text-[#996515] px-6 py-3 rounded-lg font-semibold hover:bg-yellow-200 transition text-sm sm:text-base;
}

.index-s-p {
  @apply text-base sm:text-lg max-w-2xl mx-auto;
}

.index-footer {
  @apply text-center py-6 text-white bg-[#996515] mt-10 text-sm sm:text-base;
}

.index-h2 {
  @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold mb-4;
}

.index-home {
  @apply text-center py-24 mt-19 bg-[#996515] text-white px-4 sm:px-8 md:px-16;
}

.index-hover {
  @apply hover:text-yellow-300 transition duration-200;
}

.index-nav {
  @apply flex flex-wrap justify-center lg:justify-end gap-4 sm:gap-6 w-full lg:w-auto;
}

.index-h1 {
  @apply text-2xl sm:text-3xl md:text-4xl font-extrabold leading-tight;
}

.index-h-s {
  @apply flex flex-col sm:flex-row items-center justify-center text-center lg:text-left gap-2 sm:gap-3 w-full lg:w-auto;
}

.index-s {
  @apply max-w-6xl mx-auto px-4 py-4 flex flex-wrap justify-between items-center;
}

.index-h {
  @apply bg-[#996515] text-white fixed top-0 left-0 right-0 z-50 shadow-md lg:m-0;
}

.p {
  @apply text-sm mt-5 text-justify text-[#996515] indent-8;
  @apply text-xs sm:text-sm md:text-base lg:text-lg xl:text-lg mt-5 text-justify text-[#996515] indent-8;
}

.h1 {
  @apply bg-[#C8AE7E] shadow-sm shadow-black z-30 text-center p-2.5 ml-1 mr-1 mt-3 rounded-xl text-[#996515];
  @apply bg-[#C8AE7E] shadow-sm shadow-black z-30 text-center p-2.5 ml-1 mr-1 mt-3 rounded-xl text-[#996515]
          text-base sm:text-lg md:text-xl lg:text-2xl xl:text-2xl;
}

.img {
  @apply flex justify-center mt-10 fill-white drop-shadow-xl/5;
}

.foot-d {
  @apply flex flex-wrap justify-center items-center gap-5 sm:gap-6 md:gap-8 lg:gap-10 xl:gap-12;
}

.foot {
  @apply w-full text-center py-4 text-gray-700 bg-[#C8AE7E]  mt-auto flex flex-col items-center space-y-3 sm:space-y-4 md:space-y-5;
}

.p-img {
  @apply mt-3 text-[#996515] text-center;
  @apply mt-3 text-[#996515] text-center 
          text-xs sm:text-sm md:text-base lg:text-lg xl:text-lg;
}

.ol {
  @apply pl-7 mt-5 text-justify list-decimal text-[#996515]  pb-3;
  @apply pl-7 mt-5 text-justify list-decimal text-[#996515] pb-3
          text-xs sm:text-sm md:text-base lg:text-lg xl:text-lg;
}

.sub {
  @apply text-[#996515] mt-5;
  @apply text-[#996515] mt-5 
          text-xs sm:text-sm md:text-base lg:text-lg xl:text-lg;
}

.figure {
  @apply text-center mx-auto h-[300px];
}
.figure-2 {
  @apply text-center mx-auto h-[600px];
}
.f-t {
  @apply text-center;
}

html {
  scroll-behavior: smooth;
}

/* Erick layug(chapter 2) */

.c7body {
  @apply flex flex-wrap content-start flex-row bg-[#f5f5dd] min-h-screen overflow-x-hidden;
}
.c7header {
  @apply fixed top-0 left-0 w-full flex flex-wrap items-center justify-between px-3 sm:px-6 md:px-10 lg:px-16 
         py-3 sm:py-4 md:py-5 shadow-sm shadow-black z-30 
        backdrop-blur-sm;
}

.c7logo {
  @apply w-7 h-7 sm:w-9 sm:h-9 md:w-11 md:h-11 lg:w-12 lg:h-12 xl:w-14 xl:h-14 object-contain 
    transition-transform duration-300 hover:scale-110;
}

.c7title {
  @apply text-base sm:text-lg md:text-2xl lg:text-3xl xl:text-4xl font-bold text-black whitespace-nowrap transition-transform duration-300 hover:scale-105;
}

.c7chapter2 {
  @apply list-none cursor-pointer select-none text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl font-bold text-black bg-[#c3b091] rounded-xl px-3 sm:px-4 md:px-5 py-1 sm:py-1.5 shadow-black shadow-sm whitespace-nowrap hover:bg-[#b89f7a] transition-all duration-300 hover:scale-105;
}

.c7ul {
  @apply absolute right-0 mt-2 bg-[#fdfaf3] rounded-lg shadow-md border border-gray-300 text-black tracking-widest font-medium group-open:block hidden min-w-56 sm:min-w-[16rem] md:min-w-[18rem] lg:min-w-[20rem] px-2 py-2 whitespace-nowrap overflow-hidden z-50;
}

.c7list {
  @apply block px-4 py-2 hover:bg-[#c3b091] rounded-md text-sm;
}

.c7h1 {
  @apply mt-1 text-lg font-bold tracking-widest pt-15 sm:pt-20 md:pt-22 lg:pt-25 xl:pt-28 md:text-xl lg:text-2xl xl:text-3xl;
}

.c7text {
  @apply tracking-widest p-3 indent-8 text-justify text-base md:text-lg lg:text-xl xl:text-2xl;
}

.c7h12 {
  @apply mt-1 text-lg font-bold tracking-widest pt-3 md:text-xl lg:text-2xl xl:text-3xl;
}

.c7ol {
  @apply list-decimal list-inside space-y-2 text-justify text-base md:text-lg lg:text-xl xl:text-2xl;
}

.c7img {
  @apply object-cover rounded-xl shadow-md shadow-gray-500 border border-[#b89f7a] transition-transform duration-500 ease-in-out hover:scale-110 hover:shadow-xl hover:shadow-[#b89f7a];
}

.c7icon {
  @apply w-7 h-7 sm:w-8 sm:h-8 md:w-9 md:h-9 lg:w-10 lg:h-10 xl:w-11 xl:h-11 transform transition-transform duration-300 hover:scale-125 hover:opacity-80;
}

.c7footer {
  @apply w-full text-center py-4 text-gray-700 bg-[#C8AE7E]  mt-auto flex flex-col items-center space-y-3 sm:space-y-4 md:space-y-5;
}

.c7footer2 {
  @apply flex flex-wrap justify-center items-center gap-5 sm:gap-6 md:gap-8 lg:gap-10 xl:gap-12;
}

.c7grid-sections {
  @apply grid grid-cols-1 sm:grid-cols-2 gap-10 sm:gap-12 justify-items-center mt-10;
}

/* src emman */

.paragraph {
  @apply md:text-xl lg:text-xl xl:text-xl indent-5 p-2;
}

.fp {
  @apply text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl text-gray-800 font-medium tracking-wide;
}
.f-t{
    @apply text-center;
}

html {
  scroll-behavior: smooth;
}


/* Erick layug(chapter 2) */

.c2body{
    @apply flex flex-wrap content-start flex-row bg-[#f5f5dd] min-h-screen overflow-x-hidden
}
.c2header{
    @apply fixed top-0 left-0 w-full flex flex-wrap items-center justify-between px-3 sm:px-6 md:px-10 lg:px-16 
         py-3 sm:py-4 md:py-5 shadow-sm shadow-black z-30 
        backdrop-blur-sm
}

.c2logo{
    @apply w-7 h-7 sm:w-9 sm:h-9 md:w-11 md:h-11 lg:w-12 lg:h-12 xl:w-14 xl:h-14 object-contain 
    transition-transform duration-300 hover:scale-110
}

.c2title{
    @apply text-base sm:text-lg md:text-2xl lg:text-3xl xl:text-4xl font-bold text-black whitespace-nowrap transition-transform duration-300 hover:scale-105
}

.c2chapter2{
    @apply list-none cursor-pointer select-none text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl font-bold text-black bg-[#c3b091] rounded-xl px-3 sm:px-4 md:px-5 py-1 sm:py-1.5 shadow-black shadow-sm whitespace-nowrap hover:bg-[#b89f7a] transition-all duration-300 hover:scale-105  
}

.c2ul{
    @apply absolute right-0 mt-2 bg-[#fdfaf3] rounded-lg shadow-md border border-gray-300 text-black tracking-widest font-medium group-open:block hidden min-w-56 sm:min-w-[16rem] md:min-w-[18rem] lg:min-w-[20rem] px-2 py-2 whitespace-nowrap overflow-hidden z-50
}

.c2list{
    @apply block px-4 py-2 hover:bg-[#c3b091] rounded-md text-sm
}

.c2h1{
    @apply mt-1 text-lg font-bold tracking-widest pt-15 sm:pt-20 md:pt-22 lg:pt-25 xl:pt-28 md:text-xl lg:text-2xl xl:text-3xl
}

.c2text{
    @apply tracking-widest p-3 indent-8 text-justify text-base md:text-lg lg:text-xl xl:text-2xl
}

.c2h12{
    @apply mt-1 text-lg font-bold tracking-widest pt-3 md:text-xl lg:text-2xl xl:text-3xl
}

.c2ol{
    @apply list-decimal list-inside space-y-2 text-justify text-base md:text-lg lg:text-xl xl:text-2xl
}

.c2img{
    @apply object-cover rounded-xl shadow-md shadow-gray-500 border border-[#b89f7a] transition-transform duration-500 ease-in-out hover:scale-110 hover:shadow-xl hover:shadow-[#b89f7a]
}

.c2icon{
    @apply w-7 h-7 sm:w-8 sm:h-8 md:w-9 md:h-9 lg:w-10 lg:h-10 xl:w-11 xl:h-11 transform transition-transform duration-300 hover:scale-125 hover:opacity-80
}

.c2footer{
    @apply w-full text-center py-4 text-gray-700 bg-[#C8AE7E]  mt-auto flex flex-col items-center space-y-3 sm:space-y-4 md:space-y-5
}

.c2footer2{
    @apply flex flex-wrap justify-center items-center gap-5 sm:gap-6 md:gap-8 lg:gap-10 xl:gap-12
}

.c2grid-sections {
  @apply grid grid-cols-1 sm:grid-cols-2 gap-10 sm:gap-12 justify-items-center mt-10;
}

/* Erick layug(chapter 2) */
