@import "tailwindcss";

.header {
  @apply bg-[#f5f5dd] shadow-sm shadow-black z-30 p-5 ml-1 mr-1 mt-3 rounded-xl text-[#996515];
}

.div-paragraph{
    @apply bg-white shadow-sm shadow-black p-4 rounded-xl
}

.sec{
    @apply bg-white shadow-sm shadow-black z-30 text-center p-2.5 ml-1 mr-1 mt-3 rounded-xl text-[#996515];
    
}

.pclass{
    @apply text-2xl sm:text-2xl md:text-2xl lg:text-3xl mt-5 text-justify text-[#996515] indent-8
    @apply italic-text-center b-5 text-xl md:text-xl font-medium mt-6 leading-relaxed text-2xl sm:text-2xl md:text-2xl lg:text-3xl font-bold text-[#996515] 
}

.footer{
    @apply foot-d flex- justify-center items-center gap-6 sm:gap-8 md:gap-10;
    @apply w-8 h-8 sm:w-9 sm:h-9 md:w-10 md:h-10 lg:w-11 lg:h-11 transform transition duration-300 hover:scale-125 hover:opacity-80;
}

.divfoot{
    @apply fp text-center mt-4 text-gray-900 font-semibold tracking-wide

}
